	body{
				background-color:#CD853F;

			}
		div.a
		{
			position: absolute;
			top: 50px;
			left: 250px;
			width: 1000px;
			height:350px;
			background-color:white;
			border-top-style:solid; border-left-style:solid;border-right-style:solid;border-bottom-style:dashed;
			border-color: #FF8800  ;
			border-width: 10px;
			
		}
		div.b
		{
			position: absolute;
			top: 410px;
			left: 250px;
			width: 1000px;
			height:2300px;
			background-color:#FFE4C4;
			border:  #FF8800 10px;
			border-bottom-style:solid; border-left-style:solid;border-right-style:solid;
		}
		div.s
		{
			border-radius:20%;
			position: absolute;
			top: 1000px;
			left: 480px;
			width: 500px;
			height:180px;
			background-color:white;
		}
		div.college
		{
			border-radius:20%;
			position: absolute;
			top: 1200px;
			left: 480px;
			width: 500px;
			height:180px;
			background-color:white;
		}
		div.camp
		{
			border-radius:20%;
			position: absolute;
			top: 1450px;
			left: 480px;
			width: 500px;
			height:180px;
			background-color:white;
		}
		div.col1
		{
			border-radius:20%;
			position: absolute;
			top: 1650px;
			left: 480px;
			width: 500px;
			height:180px;
			background-color:white;
		}
		div.col2
		{
			border-radius:20%;
			position: absolute;
			top: 1850px;
			left: 480px;
			width: 500px;
			height:180px;
			background-color:white;
		}
		div.pro1
		{
			border-radius:20%;
			position: absolute;
			top: 1450px;
			left: 20px;
			width: 400px;
			height:220px;
			background-color:white;

		}
		div.pro2
		{
			border-radius:20%;
			position: absolute;
			top: 1750px;
			left: 20px;
			width: 400px;
			height:260px;
			background-color:white;

		}
		
		.line1
		{
			position:relative;
			top:130px;
			left:50px;
			border:dashed #FF8C00;
			width: 900px;
			
		}
		.line2
		{
			position:relative;
			top:320px;
			left:50px;
			border:dashed #FF8C00;
			width: 900px;
		}
		.line3
		{
			position:relative;
			top:240px;
			left:450px;
			border:solid #FF8C00;
			height: 1740px;
			width:0px;
		}
		.line4
		{
			position:relative;
			top:570px;
			left:40px;
			border:dashed #FF8C00;
			width: 380px;
		}
		.line5
		{
			position:absolute;
			top:850px;
			left:500px;
			border:dashed #FF8C00;
			width: 450px;
		}
		.line6
		{
			position:absolute;
			top:1300px;
			left:40px;
			border:dashed #FF8C00;
			width: 380px;
		}
		.line7
		{
			position:absolute;
			top:1400px;
			left:480px;
			border:dashed #FF8C00;
			width: 500px;
		}
		.line8
		{
			position:absolute;
			top:2100px;
			left:0px;
			border:solid #FF8C00;
			width: 1000px;
		}
		h2
		{
			position: absolute;
			top:2150px;
			left:280px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 40px;
			font-family: "微軟正黑體";
			letter-spacing:70px;
		}
		.txt1
		{
			position: absolute;
			top:0px;
			left:450px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 80px;
			font-family: "微軟正黑體";
			letter-spacing:70px;
		}
		.txt2
		{
			position: absolute;
			top:0px;
			left:400px;
			font-family: fantasy;
			font-size: 50px;
			color:#D2691E;
		}
		
		.txt3
		{
			position: absolute;
			top:150px;
			left:90px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:11px;
		}
		.txt4
		{
			position: absolute;
			top:200px;
			left:270px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:20px;
		}
		.txt5
		{
			position: absolute;
			top:250px;
			left:180px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:50px;
		}
		.txt6
		{
			position: absolute;
			top:350px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:10px;
		}
		.txt7
		{
			position: absolute;
			top:400px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:10px;
		}
		.txt8
		{
			position: absolute;
			top:450px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt9
		{
			position: absolute;
			top:500px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt10
		{
			position: absolute;
			top:300px;
			left:620px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 40px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt11
		{
			position: absolute;
			top:270px;
			left:640px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt12
		{
			position: absolute;
			top:700px;
			left:130px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 40px;
			font-family: "微軟正黑體";
			letter-spacing:20px;
		}
		.txt13
		{
			position: absolute;
			top:870px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt14
		{
			position: absolute;
			top:980px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt15
		{
			position: absolute;
			top:1100px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt16
		{
			position: absolute;
			top:1200px;
			left:50px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt17
		{
			position: absolute;
			top:850px;
			left:570px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 40px;
			font-family: "微軟正黑體";
			letter-spacing:10px;
		}
		.txt18
		{
			position: relative;
			top:0px;
			left:200px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 20px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt19
		{
			position: relative;
			top:5px;
			left:180px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 15px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt20
		{
			position: relative;
			top:10px;
			left:180px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 15px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		.txt21
		{
			position: relative;
			top:15px;
			left:180px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 15px;
			font-family: "微軟正黑體";
			letter-spacing:2px;
		}
		}
		.pro
		{
			position:relative;
			top:12000px;
			left:530px;
			color:#EE7700;
			font-weight: bolder;
			font-size: 1000px;
			font-family: "微軟正黑體";
			letter-spacing:20px;
		}
		.img1
		{
			position: relative;
			top:50px;
			left:50px;
			border-radius:50%;
			width:230px;
			height:230px;
		}
		.imglogo
		{
			position: relative;
			top:60px;
			left:160px;
			width:500px;
			height:100px;
		}
		.img2
		{
			position: relative;
			top:550px;
			left:60px;
			width:100px;
			height:100px;
			border-radius:50%;
		}
		.img3
		{
			position: relative;
			top:550px;
			left:80px;
			width:100px;
			height:100px;
			border-radius:50%;
		}
		.img4
		{
			position: relative;
			top:550px;
			left:100px;
			width:100px;
			height:100px;
			border-radius:50%;
		}
		.img5
		{
			position: absolute;
			top:1015px;
			left:480px;
			width:150px;
			height:150px;
			border-radius:50%;
		}
		.img6
		{
			position: absolute;
			top:1215px;
			left:480px;
			width:150px;
			height:150px;
			border-radius:50%;
		}

		.img7
		{
			position: absolute;
			top:1465px;
			left:480px;
			width:150px;
			height:150px;
			border-radius:50%;
		}
		.img8
		{
			position: absolute;
			top:1665px;
			left:480px;
			width:150px;
			height:150px;
			border-radius:50%;
		}
		.img9
		{
			position: absolute;
			top:1865px;
			left:480px;
			width:150px;
			height:150px;
			border-radius:50%;
		}
		.imgpro
		{
			position: absolute;
			top:1305px;
			left:150px;
			width:150px;
			height:100px;
			
		}
				.img10
		{
			position: absolute;
			top:1480px;
			left:40px;
			width:150px;
			height:150px;
			border-radius:10%;
		}
				.img11
		{
			position: absolute;
			top:1820px;
			left:40px;
			width:150px;
			height:150px;
			border-radius:10%;
		}
				.img12
		{
			position: absolute;
			top:2120px;
			left:700px;
			width:150px;
			height:150px;
			border-radius:50%;
		}
			/*進度條*/
			.container-timeline {
			width: 60%;
			height:20px;
			background-color: #ddd;
			text-align: left;
			border-radius:10px;
			}
			.skills {
			text-align: right;
			color: white;
			}
			.html {
			width: 70%;
			height:20px;

			background-color: #FF3333;
			animation-name: skill70;
			animation-duration: 10s;
			animation-iteration-count: infinite;
			border-radius:10px;
			padding-right: 5px;
			}
			.css {
			width: 60%;
			height:20px;

			background-color:	#FF9017;
			animation-name: skill60;
			animation-duration: 10s;
			animation-iteration-count: infinite;
			border-radius:10px;
			padding-right: 5px;
			}
			.js {
			width: 50%;
			height:20px;

			background-color: #EEEE00;
			animation-name: skill50;
			animation-duration: 10s;
			animation-iteration-count: infinite;
			border-radius:10px;
			padding-right: 5px;
			}
			.java {
			width: 70%;
			height:20px;

				background-color: #6FD27E;
			animation-name: skill70;
			animation-duration: 10s;
			animation-iteration-count: infinite;
			border-radius:10px;
			padding-right: 5px;
			}
			.c{
			width: 75%;
			height:20px;

				background-color: blue;
			animation-name: skill75;
			animation-duration: 10s;
			animation-iteration-count: infinite;
			border-radius:10px;
			padding-right: 5px;
			}
			.cplus{
				width: 80%;
				height:20px;

				background-color:#9900FF;
			animation-name: skill80;
			animation-duration: 10s;
			animation-iteration-count: infinite;
			border-radius:10px;
			padding-right: 5px;
			}
			.skill{
				position:absolute;
				top:450px;
				left:680px;
			float: ;
			width: 50%;

			}
			.sk{
			text-align: left;
			}
			.sk1{
				position:absolute;
				top:418px;
				left:540px;
				font-size:25px;
				font-weight:bolder;
				color:#FF3333;
			}
			.sk2{
				position:absolute;
				top:488px;
				left:540px;
				font-size:25px;
				font-weight:bolder;
				color:#FF9017;
			}
			.sk3{
				position:absolute;
				top:558px;
				left:540px;
				font-size:25px;
				font-weight:bolder;
				color:#FFCC22;
			}
			.sk4{
				position:absolute;
				top:628px;
				left:540px;
				font-size:25px;
				font-weight:bolder;
				color:#6FD27E;
			}
			.sk5{
				position:absolute;
				top:698px;
				left:540px;
				font-size:25px;
				font-weight:bolder;
				color:blue;
			}
			.sk6{
				position:absolute;
				top:768px;
				left:540px;
				font-size:25px;
				font-weight:bolder;
				color:#A500CC;
			}
			@keyframes skill70 {
			10% {width: 0%}
			40% {width: 70%}
			100% {width: 70%}
			}
			@keyframes skill50 {
			20% {width: 0%}
			70% {width: 50%}
			100% {width: 50%}
			}
			@keyframes skill60 {
			25% {width: 0%}
			60% {width: 60%}
			100% {width: 60%}
			}
			@keyframes skill80 {
			25% {width: 0%}
			60% {width: 80%}
			100% {width: 80%}
			}
			@keyframes skill75 {
			30% {width: 0%}
			90% {width: 75%}
			100% {width: 75%}
			}

			@keyframes skill80 {
			30% {width: 0%}
			95% {width: 80%}
			100% {width: 80%}
			}

			/*時間軸*/
			ul.timeline{
				list-style-type: none;
				position: relative;
			}
			ul.timeline:before{
				content:' ';
				background-color: red;
				display: inline-block;
				position: absolute;
				left: 30px;
				width: 2px;
				height: 100%;
				z-index: 400;
			}
			ul.timeline > li{
				margin: 20px 0;
				padding-left: 25px;
			}
			ul.timeline > li:before {
			    content: ' ';
			    background: brown;
			    display: inline-block;
			    position: absolute;
			    border-radius: 50%;
			    border: 3px double #CC6600;
			    left: 20px;
			    width: 20px;
			    height: 20px;
			    z-index: 400;
			}
			.time{
				position:absolute;
				top:800px;
				left:150px;
				font-size: 18px;
				font-weight: bold;
				font-family: "微軟正黑體";
			}
			.timetxt{
			font-size: 18px;
			color:red;
			}


			/*照片特效*/
			.pic img{transform:scale(1,1);transition: all 1s ease-out;}
			.pic img:hover{transform:scale(1.2,1.2);}



